<div class="container">
  <h1 class="text-center">Welcome to {{title}}</h1>
  <h2>Total Score: {{gold}}</h2>
  <div class="row text-center">
    <div class="col-md-3">
      <div class="box">
        <h3>Farm</h3>
        <p>Earns 2-5 gold</p>
        <button (click)="addGold('farm')" class="btn btn-primary">Farm!</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <h3>Cave</h3>
        <p>Earns 5-10 gold</p>
        <button (click)="addGold('cave')" class="btn btn-primary">Cave!</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <h3>House</h3>
        <p>Earns 7-15 gold</p>
        <button (click)="addGold('house')" class="btn btn-primary">House!</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <h3>Casino</h3>
        <p>Earns or lose up to 100 gold</p>
        <button (click)="addGold('casino')" class="btn btn-primary">Casino!</button>
      </div>
    </div>
  </div>
  <div class="activity_log">
    <h3>Adventure Log</h3>
    <div *ngFor="let l of log.reverse()">
      <p>{{l}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
